/*
The following modal css is from:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
*/
.scoremodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.hiscore-modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 10px;
  color: black;
}

.hiscore-modal-content h3 {
  text-align: center;
  text-decoration-line: underline;
}

.hiscore-modal-content ol {
  background-color: cyan;
}

.hiscore-modal-content p {
  display: inline-block;
  margin: 5px 15px;
  font-size: 25px;
}

#right{
  float: right;
}

/* The Close Button */
#hiscore-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#hiscore-modal-close:hover, #hiscore-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
