/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  background-color: cyan;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

header a:hover {
  color: mediumpurple;
  cursor: pointer;
}

header li:hover {
  color: mediumpurple;
  cursor: pointer;
}

header a{
  text-decoration-line: none;
  color: black;
}

header a h2 {
  font-size: 45px;
}

header nav {
  padding: 10px 10px;
}

header nav ul li {
  display: inline-block;
  font-size: 35px;

  margin-left: 15px;
}

/* Main section */
body {
  background-color: lightcyan;
  font-family: 'Arimo', sans-serif;
}

main {
  margin-top: 25px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* * Cards array */ 
/* #game-board-table {
  display: cell;
  border-collapse: separate;
} */

input[type=radio] {
  display: none;
}
/* ----------------- */

/* Flip Container, W3School Style, adjusted for clicking */
.card {
  margin: 10px;
  font-size: 25px;
  text-align: left;
  transition: transform .75s;
  transform-style: preserve-3d;
  height: 150px;
  width: 150px;
}

.front:hover{
  transform: translateY(4px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .15);
  border-radius: 15px;
  background-color: rgba(245, 245, 245);
  opacity: .85;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  z-index: 2;
}

.back {
  position: absolute;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  opacity: .85;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.transform {
  transform: rotateY(180deg);
}
/* ----------------------- */

/* Modal Box, W3School Style */
#card-modal {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 136, 153, .7);
  top: 0%;
}

#inner-modal {
  position: relative;
  margin: 5% auto;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 25%;
  text-align: center;
  animation: expand .7s;
}

#inner-modal h1 {
  margin: 5px;
  font-size: 30px;
  font-weight: bolder;
}

#inner-modal img {
  width: 100%;
}

#inner-modal p {
  font-size: 15px;
  margin: 5px;
}

/* -------------------- */

/* Intro Page */

#intro-main .card {
  width: 300px;
  height: 300px;
}

.intro-image {
  margin: 10px 15px;
}

#intro-content {
  width: 60%;
  margin: 25px auto;
  text-align: center;
  background-color: cyan;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

#text {
  background-color: cornflowerblue;
  color: white;
  padding: 25px;
}

h3{ 
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 30px;
}

#intro-form {
  background-color: cornflowerblue;
  color: white;
  padding: 25px;
}

#game-mode input[type=text] {
  border: none;
}

#game-mode {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#game-mode fieldset {
  padding: 10px;
  background-color: greenyellow;
}

#game-mode label[for=name] {
  box-shadow: none;
  border-radius: none;
  padding: 0;
}

#game-mode label {
  background-color: greenyellow;
  color: darkblue;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  border-radius: 10px;
}

#game-mode label:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
  cursor: pointer;
}

#game-mode label[for=name]:hover {
  transform: none;
  box-shadow: none;
  cursor: auto;
}

/* Animation */

@keyframes expand {
  0% {
    transform:scale(.1);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes infiniteRotate {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(540deg);
  }
}

.finish{
  animation: infiniteRotate 2s infinite;
}


#intro-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


.intro-animation {
  animation: slowRotate 4s infinite;
}


@keyframes slowRotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  50% {
    transform: translateX(-250px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(360deg);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  50% {
    transform: translateX(250px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(360deg);
  }
}

.intro-translate-left {
  animation: moveLeft 2s;
}

.intro-translate-right {
  animation: moveRight 2s;
}

/* ------------------ */



